<div class="signup-panel col-xs-12 col-sm-6 col-md-6">
  <center><h2>Sign Up</h2></center>

  <center><div class="login-form">
    <form ng-submit="addUser()">
      <div class="form-group">
          <label>Enter email address</label>
          <input type="text" class="form-control username" placeholder="Username" ng-model="user.email">
        </div>
        <div class="form-group">
          <label>Enter Password</label>
          <input type="text" class="form-control password" placeholder="Password" ng-model="user.password">
        </div>
      
      <div class="login-submit">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </form>
    
</div>